@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fccc7c;
}
.uppercase-first-only {
  text-transform: uppercase; /* Todas las letras mayúsculas */
}

.uppercase-first-only::first-letter {
  text-transform: uppercase; /* La primera letra permanece en mayúsculas */
}

.uppercase-first-only {
  text-transform: lowercase; /* El resto del texto queda en minúsculas */
}

.steam {
  background: linear-gradient(0deg, #000, #272727);
  width: 20.5em;
  height: 21.6em;
}

.steam:before,
.steam:after {
  content: "";
  position: absolute;
  left: -2px;
  right: -1px;
  top: -1px;
  background: linear-gradient(
    30deg,
    #0000ff,
    #ff0000,
    #ffffff,
    #0000ff,
    #ff0000,
    #ffffff,
    #0000ff
  );
  background-size: 180%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
  border-radius: 10px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.steam:after {
  filter: blur(20px);
}
